*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #000915;
    color: #000915;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    height: 1024px;
    height: 735px;
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 120px;
    padding-right: 531px;
    padding-bottom: 581px;
}
.block{
    width: 1440px;
    height: 1024px; 
    align-items: center;
    padding-top: 217px;
}
.description{
    width: 481px;
    color: #FFF;
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px;
padding-bottom: 32px;
}
.button{
    width: 235px;
    height: 49px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #9C0332 (222, 215, 215, 0.41);
    border: 1px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.title{
    display: flex;
    width: 700px;
    height: 125px;
    font-family: Montserrat;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
font-size: 64px;
font-style: normal; 
font-weight: 700;
line-height: normal;
padding-bottom: 32px;
}
.box{
    height: 566px;
    background: #000915;
    padding-bottom: 128px;
    padding-top: 128px;
}
section{
    display: flex;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 120px;
}
.season{
    display: flex;
    gap: 135px;
}
.img{
    border-radius: 18px;
}
.img_g{
    padding-top: 233px;
    width: 485px;
    height: 333px;
    flex-shrink: 0;
}
.product{
    width: 379px;
    height: 300px;
    position: relative;
}
.product:hover {
 transform: scale(1.05);
    }
    .product{
    text-decoration: none;
    transition: all 0.3s;
    }
.game{
color: #fff;
font-family: 'Montserrat';
font-size: 24px;
font-style:normal;
font-weight: 600;
line-height: 32px;
position: absolute;
bottom: 32px;
left: 32px;
font-size:18px;
}
.game_season{
    height: 800px;
    background: #000915;
    align-items: center;
}
.top_footer{
    height: 584px;
    background: #000915;
    padding-top: 282px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.title_footer{
    display: flex;
    width: 700px;
    height: 125px;
    font-family: Montserrat;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
font-size: 64px;
font-style: normal; 
font-weight: 700;
line-height: normal;
padding-bottom: 32px;
}
.description_footer{
    width: 584px;
    color: #FFF;
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px;
padding-bottom: 32px;
padding-top: 32px;
}
.button{
    background-position: center;
    border-radius: 30px;
background: #9C0332;
width: 234.063px;
height: 48.603px;
flex-shrink: 0;
}
@media (min-width: 375px) and (max-width: 767px){
  .body{
    overflow-x: hidden;
    width: 375px;
height: 1956px;
  }
  .block{
    width: 100%;
    height: 735px;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
  }

    .center{
      padding-left: 16px;
      padding-right: 16px;
    }
    .top{
        height: 735px;
    }
    .title{
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
         color: #FFF;
        text-align: center;
        font-family: Montserrat; 
        font-size:32px; 
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .description{
        width: 343px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
     font-style: normal; 
     font-weight: 300;
     line-height: 22px;
    }
    .img{
        width: 343px;
    }
    .product{
        width: 100%;
    }
     .section{
      display: flex;
      flex-direction: column;
      align-items: center;  
      flex-wrap: wrap;
    }
.box{
height: 1221px;
}
.img_season{
    padding-top: 5px;
    width: 344px;
    height: 236px;
    flex-shrink: 0;
}
}